.video {
  width: 100%;
  height: auto;
  border: 2px solid #000; /* Black border color */
  border-radius: 4px; /* Smaller rounding */
  justify-content: center;
}
.iosVideo {
    width: auto;
    height: auto;
    border: 2px solid #000; /* Black border color */
    border-radius: 4px; /* Smaller rounding */
    justify-content: center;
}
.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.heroRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}
  
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.buttons > *:not(:last-child) {
    margin-right: .1rem; /* Adjust the value as needed */
}